<div class="row">
    <div class="card col s12">
        <div class="card-body">
       
            <hr>{{#if test}}
            <div class="card">
                <div class="card-body">
                      <div class="card">
                <div class="card-body teal lighten-2">
                    <h3 class=" white-text  center "> {{test.dataValues.Strain}}</h3><br>
                    </div></div>
                    <hr>
                    <h4>Description</h4>

                    <p> {{test.dataValues.Description}} </p>
                    <hr>
                    <h5>Type: {{test.dataValues.Type}} </h5>
                    <hr>
                    <h5>Flavor: {{test.dataValues.Flavor}}</h5>
                    <hr>
                    <h5>Effects: {{test.dataValues.Effects}}</h5>
                    <br>
                    <button class="btn waves-effect waves-light" data-id="{{test.dataValues.Strain}}" id="favorite" name="action">Favorite

                        <i id=""  class="material-icons right">star_border</i>
                    </button>

                </div>
            </div>
            {{/if}}

        </div>
    </div>
    <script>

    </script>